<footer class="main-footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">

	</div>
	<!-- Default to the left -->
	<div class="text-center">
		<strong>
			<a href="https://www.bmbf.de/"><img src="img/bmwfFunded.png" alt="BMWF"></a>
			<a href="https://www.buergerschaffenwissen.de/"><img src="img/buergerWissenschaft.png" alt="Buergerwissenschaft"></a>
			<a href="https://www.uni-bremen.de/"><img src="img/logo_ub.png" alt="Uni Bremen"></a>
			<a href="http://www.cognitive-neuroinformatics.com/de/"><img src="img/logo-cognitive-neuroinformatics.png" alt="Cognitive Neuroinformatics"></a>
			<a href="https://beep.nl"><img src="img/madebybeep.png" alt="Made by Beep"></a>
 			<!-- {{ lang.footer_text }} - <a href="https://beep.nl" target="_blank">{{ lang.beep_foundation }}</a> -->

		</strong>
	</div>
</footer>
